.card{
    border-radius: 50px;
    background: rgb(249 249 249 / 85%);
    font-family: "Montserrat", serif;
    /* box-shadow:  20px 20px 60px #bfbfbf,
                -20px -20px 60px #ffffff; */
}