.card{
    border-radius: 50px;
    background: rgba(249, 249, 249, 0.996);
    font-family: "Montserrat", serif;
    /* box-shadow:  20px 20px 60px #bfbfbf,
                -20px -20px 60px #ffffff; */
}