.dashboard{
    /* background-color: #e1e1e1; */
    /* padding: 2rem; */
    /* height: 100vh; */
}
.dashboard_content{
 padding: 0rem 2rem;
}
.date_picker_container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}