.dashboard{
    /* background-color: #e1e1e1; */
    /* padding: 2rem; */
    /* height: 100vh; */
}
.dashboard_content{
 padding: 0rem 2rem;
}
.date_picker_container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.styled_text{
    font-family: 'Montserrat';
    font-size: xx-large;
    font-weight: 400;
    /* color: #7088dc; */
    background: linear-gradient(to right, #be81ce, #5d67d7); /* Gradient colors */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent;
}

.flex_div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns:  2fr 2fr 1fr;
    grid-template-rows: repeat(2,2fr);
    gap: 1rem;
}


.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
}
.item1_child{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    /* grid-template-rows:  1fr 1fr; */
    gap: 1rem;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */

}
.item2{
    display: grid;
    grid-template-columns:  1fr;
    gap: 1rem;
}
.savingGoal_card{
    padding: 1rem;
    width: '100%';
    max-width: 200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2rem;
}

@media only screen and (max-width: 1000px) {
    /* .container{
        display: grid;
        grid-template-columns:  1fr;
        gap: 1rem;
    } */
    /* .item1_child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    
    } */
  }

  @media only screen and (max-width: 800px) {
    .container{
        display: grid;
        grid-template-columns:  1fr;
        gap: 1rem;
    }
    .item1_child{
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows:  50px,50px,50px,auto,auto,auto;
        gap: 1rem;
    
    }
    .I1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: -7;
        grid-row-end: -5;
    }
    .I4,.I5,.I6{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* .I1,.I2,.I3,.I4,.I5,.I6{
        height: 100%;
        width: 100%;
    } */

    /* .I5{
        height: 300px;
    }
    .I6{
        height: 300px;
    } */

    .styled_text{
        font-family: 'Montserrat';
        font-size: medium;
        font-weight: 400;
    }

    .flex_div{
        font-size: small;
    }
  }

  @media only screen and (max-width: 500px) {
    .flex_div{
        font-size: x-small;
    }
  }