
.chartTitle {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #575757;
  text-align: center;
  margin-bottom: 10px;
}

.barRow {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.categoryLabel {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-right: 10px;
  text-align: right;
}

.barWrapper {
  display: flex;
  align-items: center;
  flex: 4;
  position: relative;
}

.bar {
  height: 20px;
  border-radius: 8px;
  margin-right: 8px;
  transition: width 0.4s ease, box-shadow 0.3s ease;
  position: relative;
}

.bar:hover {
  box-shadow: 0 4px 10px rgba(255, 111, 97, 0.4);
}

.barValue {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.noDataMessage {
  text-align: center;
  font-size: 16px;
  color: gray;
  padding: 20px;
}

@media (max-width: 480px) {
  .chartContainer {
    padding: 10px;
  }

  .categoryLabel {
    font-size: 9px;
    flex: 2;
  }
  /* .barValue {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    position: absolute;
    top: -25px; 
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
  } */
  .barValue {
    font-size: 10px;
  }
  /* .bar:hover + .barValue {
    opacity: 1;
  } */
  .bar {
    height: 10px;
  }
  .barRow {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}

/* .barWrapper {
  display: flex;
  align-items: center;
  flex: 4;
  position: relative;
}

.bar {
  height: 20px;
  border-radius: 8px;
  margin-right: 8px;
  transition: width 0.4s ease, box-shadow 0.3s ease;
  position: relative;
}

.bar:hover {
  box-shadow: 0 4px 10px rgba(255, 111, 97, 0.4);
}

.barValue {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  position: absolute;
  top: -25px; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
}

.bar:hover + .barValue {
  opacity: 1;
}

@media (max-width: 480px) {
  .barValue {
    font-size: 10px;
    top: -20px; 
  }
} */
